#the_header{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: #09212A; ;
    width: 100%;
    background: #05323e;
    padding: 12px 24px;
    margin-bottom: 80px;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: #06171e;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.theContainerDiv{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.books_sec{
  width: 500px;
  height: 600px;
  margin: auto;
  background-color: #0D3240 ;
  border-radius: 20px;
}

.book_title{
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 16px 0px;
}

.img_book{
  display: flex;
  justify-content: center;
  align-items: center;
}

.book_img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.sep_div{
  background-color:  #227695;;
  width: 500px;
  height: 3px;
  margin: 16px 0px;
}

.info_sec{
  margin-left: 10px;
}

